@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  --accent: #1972bb;
  --dark-700: #575757;
  --dark-800: #2f2f2f;
}
body,
h4 {
  margin: 0;
}
.container {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
}
.grid-2 {
  display: grid;
  height: 100%;
  grid-template-columns: 40% auto;
}
.selection {
  display: flex;
  padding-block-start: 25%;
  justify-content: center;
}
.selection-header {
  color: var(--accent);
  padding-inline-start: 20%;
}
.choice {
  font-size: 1.2rem;
  cursor: default;
}
.choice-label:hover,
.choice-radio {
  cursor: pointer;
}
.info {
  margin: 5%;
  padding: 10%;
  padding-block-start: 10%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flex-container-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 2rem;
  margin-block-end: 5rem;
}
.inputs-in {
  display: flex;
  flex-direction: column-reverse;
}
.info-label {
  color: var(--dark-700);
  font-size: 0.8rem;
  font-weight: 500;
}
.info-input {
  border: none;
  border-block-end: 1px dashed var(--dark-700);
  width: 100%;
}
.info-input:hover {
  background-color: rgba(247, 247, 247, 0.9);
  outline: none;
}
.info-input:focus {
  background-color: rgba(235, 233, 233, 0.6);
  outline: none;
}
.email,
.password {
  transition: font-size 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.email-input:focus ~ .email,
.password-input:focus ~ .password {
  font-size: 0.7rem;
}
.next {
  margin-block-start: auto;
  min-height: 100px;
}
.next-button {
  background: none;
  border: 2px dashed transparent;
  display: grid;
  width: 100%;
  justify-content: flex-end;
  color: #a5a5a5;
  padding-inline-end: 5%;
}
.next-button:focus,
.next-button:hover {
  outline: none;
  border: 2px dashed var(--accent);
  color: var(--dark-800);
}
.next-button:hover {
  cursor: pointer;
  background-color: rgba(247, 247, 247, 0.9);
}
.next-button:active {
  background-color: rgba(235, 233, 233, 0.6);
}
.next-button-text {
  grid-column: 2/3;
  grid-row: 5/6;
  font-weight: 700;
}
.next-button-arrow {
  grid-column: 1/7;
  grid-row: 1/11;
  font-size: 5rem;
}